<div>
    <div class="container">
        <div>
            <input [(ngModel)]="newTask">
            <button (click)="add()">Dodaj</button>
        </div>
    </div>
    <div class="container">
        <div>
            <ng-container *ngIf="taskList.length > 0; else noTask">
                Lista zadań:
                <ul>
                    <li *ngFor="let task of taskList">
                        {{task}}
                        <button (click)="remove(task)">Usuń</button>
                        <button (click)="done(task)">Zrobione</button>
                    </li>
                </ul>
            </ng-container>
            <ng-template #noTask>
                <p>Brak zadań, możesz się zrelaksować</p>
            </ng-template>
        </div>
        <div>
            <p>Wykonane zadania: {{doneList.length}}</p>
            <ul>
                <li *ngFor="let task of doneList">
                    {{task}}
                </li>
            </ul>
        </div>
    </div>
</div>