<div class="container">

    <app-add-task></app-add-task>
    <ng-container *ngIf="taskList.length > 0; else noTask">
        <p [ngStyle]="{color: getColor()}">Zadania do wykonania: {{taskList.length}}</p>
        <ul>
            <li appDate [date]="task.created" *ngFor="let task of taskList | sortName; let odd = odd"
                [ngClass]="{'odd-li' : odd, 'last-li': taskList.length===1}">
                {{task.name | transformTask: '!'}}
                <button type="button" class="btn btn-danger" (click)="remove(task)">Usuń</button>
                <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
            </li>
        </ul>
    </ng-container>
    <ng-template #noTask>
        <p>Brak zadań, masz czas wolny!</p>
    </ng-template>

    <button (click)="save()">Zapisz</button>
</div>